<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoFarm"
        tools:targetApi="31">
        <activity
            android:name=".ReminderNotification"
            android:exported="true" />
        <activity
            android:name=".feedBack"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MarketPrice"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SoldDetails"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".Cart.MyCart_Host"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SellCrops.Details_to_Sell"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SellCrops.Sell_crops"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".My_Plants"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".DOFarm.Implementation"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".DOFarm.Details_of_Crop"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DOFarm.DoFarm"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <receiver
            android:name=".AlarmRecevier"
            android:exported="true" />

    </application>


</manifest>